*{font-size:62.5%;background-color:#2B3339;margin:0;padding:0}#TiredFoxLogo{width:25rem;height:auto;margin:10rem 0 10rem 0}.centered{display:flex;justify-content:center}.gallery{display:flex;width:80rem;justify-content:center;align-content:center;flex-wrap:wrap;flex-grow:0;flex-shrink:0}.gallery a{margin:2rem}.gallery a img{width:7rem;height:7rem}.rows{display:flex;flex-direction:column;justify-content:center;align-items:center}
